<div>
	<input
		${state.attrs}
		class=state.class
		style=state.style
		key="marko-form-input"
		on-focus('onFocus')
		on-input('onInput')
		on-change('onChange')
		on-blur('onBlur')
		on-invalid('onInvalid')
		on-reset('onReset')
		/>
</div>
